.accommodations-room-images {
  margin: 0 15px;

  .accomm-main-image {
    width: 100%;
    height: 300px;
    background: grey;
  }

  .accomm-sub-images {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;

    img {
      width: calc(33% - 10px);
      height: 100px;
      border: 1px solid black;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  .room-info {
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 3rem;

    p {
      text-align: center;
    }

    .room-name {
      font-size: 1.1rem;
    }

    p:nth-child(2) {
      font-style: italic;
      margin-bottom: 2rem;
    }
  }
}
