* {
  box-sizing: border-box;
  margin: 0;
  font-size: 16px;
  font-family: 'Montserrat';
  text-decoration: none;
}

//colors

$grey: #707e8b;
$green: #9debbb;
$dark-green: #026370;
$teal: #4daead;
$font-color: #828181;

//fonts

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,500i,700,900|Satisfy');

$paragraph-font-size: 0.9rem;
$header-font-size: 3rem;
$primary-font-size: 2.2rem;
$secondary-font-size: 1.25rem;

$sans: 'Montserrat';
$cursive: 'Satisfy';

@mixin header-aloha {
  text-shadow: 5px 5px 4px rgba(112, 126, 139, 0.3);
  font-weight: 900;
  font-size: $header-font-size;
}

@mixin subpage-header {
  position: absolute;
  top: -7rem;
  left: 0;
  right: 0;
  text-align: center;
}

@mixin sub-subhead-header {
  font-weight: 700;
  border-bottom: 3px solid $font-color;
  width: 90px;
  padding-bottom: 3px;
}

h1,
h2,
h3,
p {
  color: $font-color;
}

h1 {
  font-size: $primary-font-size;
  color: $dark-green;
  line-height: 1;
  text-transform: uppercase;
}

h2 {
  font-family: 'Satisfy';
  font-size: $secondary-font-size;
  font-weight: 500;
}

p {
  font-size: $paragraph-font-size;
  line-height: 1.5;
}

//buttons

@mixin secondary-button {
  height: 30px;
  background: transparent;
  border: 2px solid $dark-green;
  border-radius: 3px;
  color: $dark-green;
  font-size: $paragraph-font-size;
  text-decoration: none;
  line-height: 25px;
  text-transform: uppercase;
}

@mixin primary-button {
  height: 40px;
  background: $green;
  border: none;
  border-bottom: 3px solid $dark-green;
  border-radius: 7px;
  color: $dark-green;
  padding: 5px 20px;
  font-size: 1rem;
  text-transform: uppercase;
}

//layout

$mobile-full-image-height: 250px;

@mixin section-margins {
  margin: 3rem 15px;
}

@mixin highlights-layout {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin-top: 2rem;
}
