.footerlogo {
  border-bottom: 1px solid $font-color;
  margin: 0 30px;
  position: relative;

  a {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, 0);

    img {
      background: white;
      padding: 5px 30px;
      width: 170px;
    }
  }
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin: 35px 50px;
  padding-bottom: 50px;

  .foot {
    width: calc(50% - 80px);
    text-align: center;

    .copyright {
      font-size: 0.9rem;
      text-align: center;
    }

    ul {
      display: inline-flex;

      li {
        margin: 0 15px;

        .foot-nav {
          font-size: 1.1rem;
          margin-right: 5px;
          line-height: 1;
        }
      }
    }
  }
}
