header {
  display: inline-flex;
  justify-content: flex-end;
  width: 100%;
  background: white;

  .toggle {
    position: absolute;
    top: 10px;
    left: 15px;
    z-index: 2;

    span {
      display: block;
      width: 40px;
      height: 7px;
      background: black;
      margin-bottom: 5px;
      position: relative;
    }

    .toggle:active {
      display: none;
    }

    .active {
      display: none;

      span {
        margin: 0;
      }

      span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      span:nth-child(2) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: -7px;
      }
    }
  }

  .mobile {
    background: rgba(112, 126, 139, 0.83);
    position: absolute;
    z-index: 1;

    .toggle-nav {
      display: none;
      padding: 5rem 15px 0 0;
      height: 100vh;

      li {
        a {
          color: white;
          font-size: 2rem;
          font-weight: 900;
          letter-spacing: 1px;
        }
      }
    }
  }

  button {
    height: 40px;
    border: none;
    background: $grey;
    border-bottom: 3px solid $green;
    border-radius: 0 0 0 10px;
    color: $green;
    text-align: center;
    padding: 5px 15px;
    font-size: 0.8rem;
  }
}
