.hiblend-header-text {
  padding-top: 150px;
  padding-right: 10%;
  position: relative;

  h2 {
    @include headertext;
  }

  img {
    width: 200px;
    position: relative;
    left: 48%;
  }

  .header-text-one {
    padding-left: 130px;
  }

  .header-text-two {
    padding-left: 150px;
  }

  span {
    font-family: $handwritten;
    color: rgba(255, 255, 255, 0.6);
    font-size: 4.5rem;
    position: absolute;
    z-index: 1;
    top: -15px;
  }
}
