.instagram {
  .instagram-feed {
    background-image: url(images/smokedsalmon_banner.jpg);
  }

  h1 {
    color: #aac783;
    text-align: center;
    margin-top: 150px;
  }

  .ig-desktop {
    display: block;
    width: 90%;
    margin: 70px auto;
    border: none;
  }

  .ig-mobile {
    display: none;
  }
}
