.row {
  max-width: 900px;
  margin: 100px auto;

  h1 {
    color: $red;
    margin-left: 10%;
  }

  p {
    max-width: 600px;
    margin-top: 30px;
    margin-left: 23%;
    margin-right: 10%;
    font-size: 1.7rem;
  }
}
