.mobile {
  ul {
    width: 100vw;

    li {
      list-style: none;
      text-align: right;
    }
  }
}

.toggle {
  position: fixed;
  z-index: 2;
  transition: width 0.5s ease;
  display: flex;
  left: 0;
  height: 60px;
  background: rgba(112, 126, 139, 0.83);

  .toggle_button {
    height: 120px;
    width: 120px;
    border-radius: 60px;
    position: absolute;
    left: 0;
    right: 0;
    top: -20px;

    span {
      display: block;
      width: 60px;
      height: 7px;
      background: black;
      position: relative;
      top: 20px;
    }

    .short {
      width: 40px;
    }

    .top {
      display: none;
    }
  }

  ul {
    display: none;
    padding: 0;

    li {
      margin-right: 15px;

      a {
        color: white;
        font-size: 1.7rem;
        font-weight: 900;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
  }
}

.toggle.open {
  transition: width 0.5s ease;
  height: 100vh;

  .toggle_button {
    .top {
      display: block;
      background: white;
    }

    .bottom {
      display: none;
    }

    .short {
      background: white;
    }
  }

  ul {
    display: block;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 70px;

    img {
      width: 150px;
      margin-bottom: 0.5rem;
    }

    li {
      background: transparent;
      list-style: none;
      margin-bottom: 0.5rem;

      a:hover {
        transition: font-size 0.3s ease;
        font-weight: 500;
        letter-spacing: 7px;
      }
    }
  }
}
