.hiblend-header-img {
  background-image: url('src/images/sampler_bannerblur.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center, top;
  height: 450px;

  nav {
    background: rgba(0, 0, 0, 0.46);
    width: 90%;
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30px;
    padding: 5px 15px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;

    .nav-logo img {
      width: 100px;
    }

    .main-menu {
      display: inline-flex;
      width: 100%;
      justify-content: flex-end;

      li {
        a {
          color: white;
          padding: 10px;
          letter-spacing: 3px;
          text-transform: uppercase;
          font-weight: 400;
        }
      }
    }

    .utility-nav {
      display: inline-flex;
      padding: 0;

      li {
        margin: 0 3px;

        a {
          color: white;
          font-size: 20px;
          padding-left: 7px;
        }
      }
    }
  }
}
