//guests
.guests-page,
.accommodations-page {
  h2 {
    text-align: center;
  }

  p {
    text-align: left;
  }

  .guests,
  .accommodations {
    position: relative;

    h1 {
      @include subpage-header;
    }

    h2 {
      font-family: $sans;
    }

    p {
      text-align: center;
    }
  }

  .descriptions-image {
    width: 100vw;
    height: 250px;
    background: grey;
  }

  .guests-tla {
    @include section-margins;

    padding: 0 10px;

    h2 {
      font-family: $sans;
      margin-bottom: 2rem;
    }

    p {
      margin-bottom: 25px;

      span {
        font-weight: 700;
        font-size: $paragraph-font-size;
      }
    }

    .sub-subhead {
      @include sub-subhead-header;
    }

    .two {
      border: none;
      width: 100%;
    }
  }
}

//accommodations
.accommodations-page {
  .accommodations,
  .amenities {
    @include section-margins;

    h2 {
      padding: 0 10px;
    }

    .accommodations-room-description {
      text-align: left;
      margin: 3rem 10px 0;
    }
  }

  .amenities {
    padding: 0 10px;

    h1 {
      text-align: center;
    }

    .sub-subhead {
      @include sub-subhead-header;

      width: 70px;
      margin-bottom: 1rem;
    }

    .amenities-list {
      margin: 2rem 0;
    }
  }
}
