//guests
.guests-page {
  h2 {
    text-align: center;
  }

  p {
    text-align: left;
  }

  .guests {
    position: relative;

    h1 {
      position: absolute;
      top: -7rem;
      left: 0;
      right: 0;
      font-size: 3rem;
    }

    h2 {
      font-family: $sans;
    }

    p {
      text-align: center;
    }
  }

  .descriptions-image {
    width: 100vw;
    height: 250px;
    background: grey;
  }

  .guests-tla {
    @include section-margins;

    h2 {
      font-family: $sans;
      margin-bottom: 2rem;
    }

    p {
      margin-bottom: 25px;

      span {
        font-weight: 700;
      }
    }

    .sub-subhead {
      font-weight: 700;
      border-bottom: 3px solid $font-color;
      width: 90px;
      padding-bottom: 5px;
    }

    .two {
      border: none;
      width: 100%;
    }
  }
}
